.modal {
    position: fixed;
    background: #000000bd;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-container {
    background: linear-gradient(0deg, rgb(32, 32, 32) 0%, rgb(43, 43, 43) 56%, rgb(10, 10, 10) 84%);
    width: 80%;
    max-width: 1337px;
    margin: 30px auto 0;
    padding: 3rem;
    position: relative;
    border-radius: 5px;
}

.modal-container .logo {
    width: 100px;
}

.modal-container__title {
    color: #1db954;
}

.modal-container p {
    color: #fff;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.modal-close {
    cursor: pointer;
    display: block;
    text-align: right;
    color: #1db954;
}

.default-image-album {
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
}

.default-image-album::after{
    content: 'Not album image';
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}